.offer .ant-anchor-ink {
    display: none;
}
.offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

    .offer-container{
        margin-top: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 80px;

        .info-offer{
            display: flex;
            flex-direction: column;

            .title-offer{
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 800;
                font-size: 60px;
                margin-bottom: 20px;
                color: #242151;
            }
            
            .description-offer{
                width: 500px;
                margin-bottom: 60px;

                .description-offer__el{
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 33px;
                }
            }
        }

        .image-offer{
            width: 560px;
            height: 490px;
            -webkit-user-drag: none;      
        }
    }
    .offer-bubble{
        display: flex;
        flex-direction: column;
        width: 1080px;
        .bubble-1{
            align-self: flex-start;
        }
        .bubble-2{
            align-self: flex-end;
        }
    }
}

.offer-break{
    margin-bottom: 120px;
}

@media screen and (max-width: 1160px) {
    .offer{
        .offer-container{
            margin-top: 100px; //
            flex-direction: column-reverse; //
            .info-offer{
                align-items: center;
                .title-offer{
                    text-align: center;
                    font-size: 50px;
                    margin-bottom: 10px;
                }
                .description-offer{
                    margin-bottom: 40px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .description-offer__el{
                        text-align: center;
                        font-size: 21px;
                        line-height: 33px;
                    }
                }
            }
            .button-offer{
                display: flex;
                justify-content: center;
            }
            .image-offer{
                display: flex; //
                width: 450px;
                height: 380px
            }
        }
        .offer-bubble{
            align-items: center;
            width: auto;
            .bubble-1{
                align-self:auto;
            }
            .bubble-2{
                align-self:auto;
            }
        }
    }
    
}

@media screen and (max-width: 1160px) {
    .offer{
        .offer-container{
            margin-top: 100px;
            flex-direction: column-reverse;
            align-items: center;
            margin-bottom: 80px;
        }
        .description-offer{
            width: 600px;
            .description-offer__el{
                font-size: 20px;
                line-height: 33px;
            }
        }
        .button-offer{
            display: flex;
            justify-content: center;
        }
        .image-offer{
            width: 420px;
            height: 370px
        }
    }    
}

@media screen and (max-width: 750px) {
    .offer-container{
        margin-top: 100px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .description-offer{
        width: 400px;
        .description-offer__el{
            font-size: 20px;
            line-height: 33px;
        }
    }
    .image-offer{
        width: 420px;
        height: 370px
    }
    .button-offer{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 570px) {
    .offer{
        margin-bottom: 70px;
        .offer-container{
            margin-top: 100px;
            flex-direction: column-reverse;
            margin-bottom: 40px;
            .info-offer{
                .title-offer{
                    font-size: 40px;
                }
                .description-offer{
                    width: 300px;
                    margin-bottom: 30px;
                    .description-offer__el{
                        font-size: 16px;
                        line-height: 27px;
                    }
                }
            }
            .image-offer{
                width: 300px;
                height: 250px
            }
        }
    }
    .offer-break{
        margin-bottom: 50px;
    }
}